{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{% static "base.css" %}"/>
    <title>{{pageName}}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/App">Home</a>
        </li>
        <li>
          <a href="/App/Class">Class</a>
        </li>
        <li>
          <a href="/App/Section">Section</a>
        </li>
        <li>
          <a href="/App/SubSection">SubSection</a>
        </li>
        <li>
          <a href="/App/Question">Question</a>
        </li>
      </ul>
    </nav>

    <div id="root">{% block content %} {% endblock %}</div>
    <script src="{% static "" %}%}" />
  </body>
</html>
